body {
    font-family: 'Akaya Telivigala', cursive;
}
.true-path {
    background-image: url(/one-tree.jpg);
    width: 100%;
    height: 100%;
}
.middle-path {
    text-align: center;
}
#person {
    font-size: large;
}
.paragraph {
    width: 500px;
    margin: auto;
}